@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');
@import "tailwindcss";

@theme {
  --font-serif: "Lora", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-sans: "Lato", ui-sans-serif, system-ui, sans-serif;
  
  --color-brand-brown-dark: #3E271D;
  --color-brand-brown-light: #6A4E3D;
  --color-brand-orange: #F39C12;
  --color-brand-orange-hover: #D68910;
  --color-brand-bg: #FDFBF7;
  --color-brand-green: #27AE60;
  --color-brand-gray: #4A4A4A;
}

@layer base {
  body {
    background-color: var(--color-brand-bg);
    color: var(--color-brand-brown-dark);
  }
}
